table {
    background-color: #ececec;
    border-spacing: 0;
    min-width: 380px;

    tr {
        th {
            border: 1px solid #fff;
            font-weight: bold;
        }

        td {
            border: 1px solid #fff;
            padding: 2px;
            width: 180px;
            white-space: wrap;
    
        }
    }
    
}